/*==== ROOT SETINGS, RESETS AND VARIABLES ==============================*/
:root {
  font-size: 16px;  
  box-sizing: border-box;
  
}

* {
  margin: 0; 
}

/*==== LAYOUT ==========================================================*/

body {
  background-color: hsl(233, 47%, 7%);
  height: 100vh;  
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 0px;
  min-width: auto;
  
}

div.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;    
}

div#text_side {
  background-color: hsl(244, 38%, 16%);
  width:35rem;
  height: 23rem;
  
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding: 2rem;
}

div#image_side {
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

div#text_padder {
  display: inline-flex;
  flex-direction: column;
}

div#list_padder {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
}


h1.heading {
  font-family: 'Inter', 'sans-serif';
  font-size: 2rem;  
  text-align: start;
  color: white;
}


p,
ul,
li {
  font-family: 'Inter', 'sans-serif';
}

ul {
  list-style-type: none;
  max-width: 23.0625rem;
  margin-bottom: 1.8rem;
}


.main_paragraph {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 3.5vw;
  margin-top: 1.3vw;  
}

#stat_heading {
  font-weight: 700;
  color: white;
  font-family: 'Lexand Deca', 'sans-serif';
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;  
  padding: 0;
}

.stat_caption {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  position: relative;
  top: -1.5vw;
  
}

.accented {
  color: hsl(277, 64%, 61%);
}


div#banner_image {
  height: 23rem;
  width: 35rem;
  background-image: url(./images/image-header-desktop.jpg);
  background-size: cover;
  position: relative;
  
}

#image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(150, 23, 230, 0.65);
  filter: saturate(75%);
}
