/*==== root, resets and variables ===============================
=================================================================*/

:root {
  font-size: 16px;
  --banner-height: 25vh;
}

* {
  margin: 0px;
}

a {
  color: white;
}

ul,
li {
  list-style-type: none;
  padding: 0px;
}

/*==== font styles ====================================================
=================================================================*/
h1.heading {
  font-weight: 700;
  color: white;
  font-family: 'Inter', 'sans-serif';
  font-size: 2.8vh;
}

span.accented {
  color: hsl(277, 64%, 61%);
}

p.main_paragraph {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.7vh;
  line-height: 2.5vh;
}

ul#stat_heading {
  font-weight: 700;
  color: white;
  font-family: 'Lexand Deca', 'sans-serif';
  font-size: 2.2vh;
}

ul#stat_caption {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 1.3vh;
}

p,
ul,
li {
  font-family: 'Inter', 'sans-serif';
}

/*==== layout ===================================================
=================================================================*/

body {
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
  color: white;
  display: flex;
  flex-flow: column;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}

/* main container settings */
div.container {
  position: fixed;
  top: 10vh;
  left: 5vw;
  right: 5vw;
}

#text_side {
  background-color: hsl(244, 38%, 16%);
  /* height: fit-content; */
  /* min-height: 40vh; */
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: stretch;
  justify-items: center;
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

/* text content section */
#text_section {
  margin: 3.5vh 3vh;
  text-align: center;
}

h1.heading {
  margin-bottom: 1.8vh;
}

p.main_paragraph {
}

/* list section settings */

div#list_section {
  height: 30vh;
  width: fit-content;
}

ul#stat_heading {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

ul#stat_heading li {
  margin: 2.5vh;
}

ul#stat_caption {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  top: -20vh;
}

ul#stat_caption li {
  margin: 3vh;
}

#banner_image {
  height: var(--banner-height);
  background-image: url(./images/image-header-mobile.jpg);
  background-size: cover;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

#image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--banner-height);
  background: rgba(174, 0, 255, 0.705);
  filter: saturate(60%) contrast(80%);
}
