body {
  background-color: hsl(233, 47%, 7%);
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

h1 {
  font-family: 'Inter', 'sans-serif';
  font-size: 2vw;
  text-align:start;
}

p,
ul,
li {
  font-family: 'Inter', 'sans-serif'; 
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;  
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

ul {
  list-style-type:none;
  max-width: 369px;  
}

.heading {
  color: white;
}

.main_paragraph {
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 3.5vw;
  margin-top: 1.3vw;
  max-width: 390px;
}

#stat_heading {
  font-weight: 700;
  color: white;
  font-family: "Lexand Deca", "sans-serif";
  font-size: 1.1vw;
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  padding: 0;

}

.stat_caption {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.7vw;
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  padding: 0;
  position: relative;
  top: -1.5vw;
}

.accented {
  color: hsl(277, 64%, 61%);
}

#list_padder {
  display: flex;
  flex-direction: column;
}

#banner_text {
  background-color: hsl(244, 38%, 16%);
  width: 540px;
  height: 446px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  box-sizing: border-box;

  // border-top-left-radius: 2%;
  // border-bottom-left-radius: 2%;
}

#banner_image {
  min-width: 540px;
  min-height: 446px;
  background-image: url(./images/image-header-desktop.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;

  // border-top-right-radius: 2%;
  // border-bottom-right-radius: 2%;
}

#image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(150, 23, 230, 0.65);
  filter: saturate(75%);
}
